/***** RESET HTML ELEMENTS *****/
@import "html5reset.css";

@import "_variables";

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.out-line {
    outline: 2px solid green;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 200px 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container_header {
    display: grid;
    grid-template-columns: 420px 297px 231px 180px;
    grid-template-rows: auto auto auto;
    margin-top: 34px;
}

.blue_circle {
    /* Style for "Ellipse 1" */
    width: 51px;
    height: 51px;
    background-color: #1a9bdc;
    border-radius: 50%;
    float: left;
}

.fa-clock-o {
    /* Style for "" */
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    /* Text style for "," */
    letter-spacing: 2.31px;
    margin-left: 13px;
    margin-top: 12px;
}

.fa-envelope {
    /* Style for "" */
    font-family: "Font Awesome";
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    /* Text style for "," */
    letter-spacing: 1.8px;
    margin-top: 15px;
    margin-left: 15px;
}

.fa-mobile {
    /* Style for "" */
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    /* Text style for "," */
    letter-spacing: 3.09px;
    margin-top: 8px;
    margin-left: 16px;
}

.text_header {
    font-family: @headerFont;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6a6a6a;
    float: left;
    margin-left: 19px;
}

.text_header:nth-child(2) {
    margin-left: 13px;
}

.bold_text_header {
    font-family: @headerFontBold;
    font-weight: 700;
}

.border_bottom_header {
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: 2px solid #c2c2c2;
    margin: 20px 5px 33px;
    opacity: 0.31;

}

.menu_header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    /* Style for "Home" */
    color: #6c6c6c;
    font-family: "Nexa Bold", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 27px;
}

.menu-link:hover {
    color: #212121;
    font-weight: 300;
}

.menu-link-active,
.menu-link-active:hover {
    color: #262626;
    font-weight: 700;
}

.social_icon_header {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
    /* Style for "    " */
    color: #191919;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.8px;

}

.social_link {
    margin-left: 27px;
}

.social_link:first-child {
    margin-left: 0;
}

.social_link,
.social_link:visited,
.social_link:active,
.socila_link:link,
.social_link:hover {
    color: #191919;
}

main {
    grid-area: main;
}

.main_banner {
    background-image: url("../img/Layer_10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.layer_main_banner {
    opacity: 0.81;
}

.text_main_banner {
    position: absolute;
    top: 180px;
    left: 250px;
}

.p_main_banner {
    /* Style for "We have Be" */
    width: 547px;
    height: 104px;
    color: #474747;
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat Medium", sans-serif;
    /* Text style for "We have Be" */
    letter-spacing: -1.19px;
    text-align: center;
}

.p_openSans_main_banner {
    margin-top: 37px;
    margin-left: 52px;
    /* Style for "Sed ut per" */
    width: 420px;
    color: #3f3f3f;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.btn_read_more {
    margin-top: 42px;
    margin-left: 179px;
    width: 166px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    text-transform: uppercase;
    border-radius: 23px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato Regular", sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* Text style for "Read more" */
    letter-spacing: 0.32px;
    text-align: center;
    padding: 17px 0;
}

.btn_read_more:hover {
    box-shadow: none;
}

.best_doctor_copy {
    position: absolute;
    top: 539px;
    left: 745px;
}

/***** services *****/
.services {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
}

.service_container {
    height: 360px;
}

.service_content {
    height: 100%;
    text-align: center;
}

.service_1 {
    background: #43b1d2;
}

.service_2 {
    background-color: #3fb6c6;
}

.service_3 {
    background-color: #3cbbbb;
}

.service_4 {
    background-color: #37c3a8;
}

.back_icon {
    height: 75px;
    width: 75px;
    background-color: #fff;
    border-radius: 50%;
    float: none;
    display: block;
    margin: auto;
}

.service_icon_img {
    display: block;
    margin: auto;
    padding-top: 10px;
}

.service_icon_img:last-child {
    padding-top: 14px;
}

.service_name {
    color: #fff;
    font-size: 30px;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    /* Text style for "B, est Tre" */
    letter-spacing: -1.82px;
    margin-top: 23px;
    margin-bottom: 29px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.service_text {
    /* Style for "Sed ut per" */
    width: 264px;
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

/***** Why Choose Us ******/
.why_choose_us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template:
        "d1 d1 d1"
        "d2 d3 d4"
        "d5 d3 d6";
}

.why_choose_caption {
    grid-area: d1;
    text-align: center;

    h3 {
        /* Style for "Why Choose" */
        color: #494949;
        font-size: 45px;
        font-family: "Montserrat Bold", sans-serif;
        font-weight: 700;
        margin-bottom: 31px;
    }

    p {
        /* Style for "Sed ut per" */
        width: 878px;
        color: #6a6a6a;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
}

.choose_caption_content {
    margin-top: 111px;
    margin-bottom: 25px;
}

.back_icon_blue {
    height: 75px;
    width: 75px;
    background-color: #1a9bdc;
    border-radius: 50%;
    float: left;
    display: block;
    margin-bottom: 20px;
    margin-right: 19px;
}

.section_icon_img {
    display: block;
    margin: auto;
    padding-top: 14px;
}

.section_1 {
    grid-area: d2;
    margin-top: 116px;
    padding-right: 43px;
}

.section_name {
    /* Style for "Profession" */
    color: #6f6f6e;
    font-size: 30px;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    /* Text style for "P, rofessi" */
    letter-spacing: -1.82px;
    margin-top: 27px;
}

.section_text {
    /* Style for "Sed ut per" */
    float: left;
    width: 363px;
    color: #6a6a6a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.why_choose_img {
    grid-area: d3;
}

.section_2 {
    grid-area: d4;
    margin-top: 116px;
    margin-left: 86px;
}

.section_3 {
    grid-area: d5;
    padding-right: 43px;
}

.section_4 {
    grid-area: d6;
    margin-left: 86px;
}

/***** best_feauture *****/

.best_feauture {
    height: 592px;
    background-image: url("../img/Layer_9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.46;
    background-color: #0087be;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.best_feauture_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.best_feauture_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.best_feauture_count {
    /* Style for "1000+" */
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    /* Text style for "1, 000+" */
    letter-spacing: -1.19px;
    margin-top: 47px;
}

.best_feauture_divider {
    /* Style for "Rectangle" */
    width: 84px;
    height: 6px;
    background-color: #fff;
    margin-top: 26px;
}

.best_feauture_text {
    /* Style for "Lung Repla" */
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat Medium", sans-serif;
    font-weight: 500;
    /* Text style for "L, ung , R" */
    letter-spacing: -1.52px;
    text-align: center;
    margin-top: 27px;
}

/***** textarea *****/
.text_area {
    display: grid;
    grid-template-columns: 335px 335px auto;
    grid-template-areas:
        "works works creative"
        "works_img1 works_img2 heart_open"
        "works_details_1 works_details_2 heart_menu"
        "works_btn works_btn ."
    ;
    grid-gap: 40px;
    margin-top: 100px;

}

.works {
    grid-area: works;
}

.works_caption,
.creative_caption {
    /* Style for "How we wor" */
    color: #494949;
    font-size: 45px;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
}

.works_description,
.creative_description {
    /* Style for "Sed ut per" */
    color: #6a6a6a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 38px;
}

.creative {
    grid-area: creative;
}

.works_img1 {
    grid-area: works_img1;
    width: 335px;
    height: 210px;
}

.works_img2 {
    grid-area: works_img2;
    width: 335px;
    height: 210px;
}

.heart_open {
    grid-area: heart_open;

}

.heart_btn_active {
    .heart-btn-mixin(#0087be, #fff)
}

.heart_text {
    /* Style for "Sed ut per" */
    margin-top: 19px;
    color: #6a6a6a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.works_details_1 {
    grid-area: works_details_1;
    font-family: "Montserrat Medium", sans-serif;
}

.works_details_caption {
    /* Style for "Lorem ipsu" */
    width: 266px;
    height: 20px;
    color: #6f6f6e;
    font-size: 20px;
    font-weight: 500;
    /* Text style for "L, orem ip" */
    letter-spacing: -1.21px;
    margin-bottom: 13px;
}

.works_details_date {
    /* Style for "April 19," */
    width: 203px;
    height: 15px;
    color: #0087be;
    font-size: 15px;
    font-weight: 500;
    /* Text style for "April 19," */
    letter-spacing: -0.38px;
    margin-bottom: 27px;
}

.works_details_text {
    /* Style for "Sed ut per" */
    width: 321px;
    height: 77px;
    color: #6a6a6a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.works_details_2 {
    grid-area: works_details_2;
}

.heart_menu {
    grid-area: heart_menu;
}

.heart_btn {
    .heart-btn-mixin(#e2e2e2, #494949);
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.works_btn {
    grid-area: works_btn;
    margin-bottom: 100px;
}

.works_btn_read_more {
    .read_more_button-mixin(154px, 43px, 17px);

}

/***** GALLERY *****/
.gallery {
    background: url(../img/Layer_3.png) no-repeat center center;
    background-size: cover;
    width: 100%;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 37px;
    grid-column-gap: 34px;
    justify-items: center;
    padding-bottom: 94px;
}

.gallery_caption {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    /* Style for "Sed ut per" */
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 17px;

    p {
        /* Style for "Gallery" */
        font-family: "Montserrat Bold", sans-serif;
        font-size: 45px;
        font-weight: 700;
        margin-top: 94px;
        margin-bottom: 38px;
    }
}

/***** OUR TEAM *****/
.our_team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 84px;
    grid-column-gap: 29px;
    justify-items: center;
    padding-bottom: 134px;
}

.our_team_caption {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    /* Style for "Sed ut per" */

    color: #6a6a6a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    p {
        /* Style for "Our Team" */
        color: #494949;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 45px;
        font-weight: 700;
        margin-top: 148px;
        margin-bottom: 49px;
    }
}

.team_section {
    text-align: center;
    font-family: "Montserrat Medium", sans-serif;
    color: #6f6f6e;
    font-weight: 500;
}

.team_section_name {
    /* Style for "Dr Ricky D" */
    margin-top: 29px;
    margin-bottom: 15px;
    font-size: 25px;
}

.team_job {
    /* Style for "Assistant" */
    font-size: 18px;
    /* Text style for "A, ssistan" */
    letter-spacing: -1.09px;
}

.team_socials {
    margin-top: 32px;

    a {
        text-decoration: none;
        color: #0087be;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1.8px;
        margin: 0 5px;
    }
}

/***** Quick action bar *****/
.quick_action_bar {
    background-color: #e2e2e2;
    padding-top: 68px;
    padding-bottom: 54px;
}

.quick_action_bar_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick_action_bar_text {

    float: left;
    /* Style for "New Patien" */
    color: #494949;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.quick_action_bar_btn {
    .read_more_button-mixin(192px, 54px, 21px);

}

/***** footer *****/
footer {
    grid-column: footer;
    background-color: #171717;
}

.footer_contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 118px 0 108px;
}

.footer_caption {
    /* Style for "Get in Tou" */
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    /* Text style for "G, et in T" */
    letter-spacing: 0.55px;
    margin-bottom: 70px;
}

.get_touch_mail,
.get_touch_phone,
.get_touch_map {
    opacity: 0.51;
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding-left: 83px;
    letter-spacing: 0.42px;
    font-size: 17px;
}

.get_touch_mail {
    background: url(../img/Icon_Mail.png) no-repeat left center;
    font-size: 16px;
    margin-bottom: 50px;
}

.get_touch_phone {
    background: url(../img/Icon_Phone.png) no-repeat left center;
    margin-bottom: 63px;
}

.get_touch_map {
    background: url(../img/Icon_Map.png) no-repeat left center;
}

//.quick_links {}

.footer_links_menu {

    a {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        padding-left: 15px;
        box-sizing: border-box;
        /* Style for "About us" */
        opacity: 0.51;
        color: #fff;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;

        &:hover {
            color: #0087be;
        }
    }

    .fa-caret-right {
        color: #0087be;
        font-size: 20px;
        font-weight: 400;
        line-height: 19.04px;
        letter-spacing: 1.8px;
        margin-right: 21px;
    }
}

.enquiry_form {
    /* Style for "Name   Pho" */
    width: 231px;
    //opacity: 0.51;
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* Text style for "N, ame ," */
    letter-spacing: 0.4px;

    textarea {
        font-family: inherit;
        height: 100px;
        resize: none;
    }

    input[type="text"],
    textarea {
        color: #fff;
        outline: none;
        border: 0;
        margin-bottom: 20px;
        background-color: #171717;
        width: 231px;
        border-bottom: 1px solid rgba(194, 194, 194, 0.42);
    }

    input[type="submit"] {
        .read_more_button-mixin(125px, 35px, 14px);
    }

}

.socials_footer {
    padding-top: 61px;

    a {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        /* Text style for ",     , " */
        letter-spacing: 1.8px;
        padding-right: 15px;
    }
}

.copyright {
    background-color: #1a1a1a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #615555;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 61px;
}

@media (max-width:1200px) {
    .wrapper {
        width: 1200px;
    }

    .container {
        width: 970px;
    }

    .container_header {
        grid-template-columns: 230px 295px 235px;
    }

    .text_main_banner {
        left: 50px;
    }

    .best_doctor_copy {
        left: 545px;
    }

    .menu_header {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .social_icon_header {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .social_link {
        margin-left: 17px;
    }
}